.pedido-card {
    width: 1728px;
    margin: 20px 0 20px 20px; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    border-left: 5px solid #4CAF50; 
}


.Productos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    justify-content: left; 
  
    mat-card {
      width: 150px;
      height: 150px;
      border-radius: 12px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 12px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
      cursor: pointer;
      &:hover {
        background-color: #e8f5e9; 
      }
  
      mat-icon {
        font-size: 40px;
        color: #1976d2;
      }
  
      .producto-nombre {
        font-weight: bold;
        margin-top: 8px;
      }
  
      .producto-precio {
        color: #388e3c;
        font-weight: bold;
        margin-top: 4px;
      }
    }
  }


mat-select.selectCrear {
    width: auto;  
    max-width: 300px;  
    min-width: 200px;  
  }

  mat-card-header {
    border-bottom: 1px solid #e0e0e0; // Línea separadora sutil
    padding-bottom: 10px;
    margin-bottom: 20px;

    mat-card-title {
      font-size: 1.8rem;
      font-weight: bold;
      color: #1B5E20; // Verde oscuro para el título
    }

    mat-card-subtitle {
      font-size: 1.2rem;
      color: #666; // Gris para el subtítulo
      font-style: italic;
    }
}

mat-card-content {
    p {
      font-size: 1.1rem;
      margin: 10px 0;
      color: #333; // Texto oscuro para mejor legibilidad

      strong {
        color: #388E3C; // Verde medio para resaltar etiquetas
        margin-right: 5px;
      }
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
      color: #1B5E20; // Verde oscuro para el título de productos
      margin: 20px 0 10px;
      border-bottom: 2px solid #4CAF50; // Línea verde debajo del título
      padding-bottom: 5px;
    }

    // Estilo para la lista de productos
    mat-list-item {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #f0f0f0; // Separador entre productos
      font-size: 1rem;
      
      .producto-detalle {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        span {
          flex: 1;
          padding: 0 5px;
          text-align: left;
        }
        
        .precio {
          color: #388e3c;
          font-weight: bold;
        }
        
        .cantidad {
          color: #1976d2;
          font-weight: bold;
        }
        
        .precio-total {
          color: #e64a19;
          font-weight: bold;
        }
      }
  }
}

.divEspacio {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
