@use '@angular/material' as mat;

// Estilos generales
.app-container {
  height: 91vh;
  display: flex;
  background-color: #f4f4f4;
}

// Sidebar
.sidenav {
  width: 150px;
  background-color: #4CAF50;
  color: white;
  padding-top: 20px;
  border-radius: 0;

  mat-nav-list {
    .sidenav-button {
      display: flex;
      align-items: center; // Centra verticalmente el ícono y el texto
      background-color: white; // Fondo blanco como en la imagen
      color: black; // Texto negro
      font-weight: 500;
      font-size: 1.1rem;
      padding: 10px 15px;
      margin: 10px 10px; // Espaciado entre botones
      width: calc(100% - 20px); // Ocupa casi todo el ancho con márgenes
      border-radius: 10px; // Bordes redondeados como en la imagen
      transition: all 0.3s ease; // Transición suave para hover

      mat-icon {
        margin-right: 10px; // Espacio entre el ícono y el texto
        color: #1B5E20; // Ícono en verde oscuro para que coincida con el borde
      }

      span {
        flex-grow: 1; // Hace que el texto ocupe el espacio disponible
      }

      &:hover {
        background-color: #e8f5e9; // Verde muy claro al pasar el mouse
      }

      &:active {
        background-color: #c8e6c9; // Verde más oscuro al hacer clic
      }
    }
  }
}

// Header
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #388E3C, #1B5E20);
  color: white;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 9vh;

  .logo {
    width: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .titulo {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

