<mat-toolbar color="primary" class="header">
  <div class="logoLink">
    <a routerLink="">
      <img src="Logo1Solo.png" alt="Logo" class="logo">
    </a>
  </div>
  <img src="fondo.jpg" class="background-image">
  <span class="titulo">Business Offset</span>
</mat-toolbar>  

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <img src="fondo.jpg" class="background-image">
    <mat-nav-list>
      <button mat-button routerLink="pedidos" class="sidenav-button">
        <mat-icon>shopping_card</mat-icon>
        <span>Pedidos</span>
      </button>

      <button mat-button routerLink="construccion" class="sidenav-button">
        <mat-icon>group</mat-icon>
        <span>Clientes</span>
      </button>

      <button mat-button routerLink="construccion" class="sidenav-button">
        <mat-icon>category</mat-icon>
        <span>Productos</span>
      </button>

      <button mat-button routerLink="construccion" class="sidenav-button">
        <mat-icon>account_balance</mat-icon>
        <span>Finanzas</span>
      </button>

      <button mat-button routerLink="construccion" class="sidenav-button">
        <mat-icon>insights</mat-icon>
        <span>Estadísticas</span>
      </button>

      <button mat-button routerLink="construccion" class="sidenav-button">
        <mat-icon>people</mat-icon>
        <span>Usuarios</span>
      </button>
      
      <button mat-button routerLink="construccion" class="sidenav-button">
        <mat-icon>description</mat-icon>
        <span>Reportes</span>
      </button>
      
      <button mat-button routerLink="construccion" class="sidenav-button">
        <mat-icon>bar_chart</mat-icon>
        <span>Clientes</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>