<body>
  <div class="login-container">
    <img class="logo" src="Logo1.png" alt="Logo">
    <form>
      <div class="container">
        <h2>Iniciar Sesión</h2>
        <div class="input-container">
          <input type="text" placeholder="Nombre" maxlength="15">
        </div>
        <div class="input-container">
          <input type="text" placeholder="Apellido" maxlength="25">
        </div>
        <button mat-raised-button color="primary">Iniciar Sesión</button>
      </div>
    </form>
  </div>
</body>