<body>
  <div class="login-container">
    <img class="logo" src="LogoCorregido.png" alt="Logo">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="container">
        <h2>Iniciar Sesión</h2>
        <div class="input-container">
          <input type="email" placeholder="correo" formControlName="email">
        </div>
        <div class="input-container">
          <input type="password" placeholder="contraseña" formControlName="password">
        </div>
        <button mat-raised-button color="primary" [disabled]="formulario.invalid">Iniciar Sesión</button>
        <p *ngIf="mensajeError" class="error">{{ mensajeError }}</p>
      </div> 
    </form>
  </div>
</body>