<body>
  <div class="login-container">
    <img class="images" src="src/assets/images/Logo1.png" alt="Logo" class="logo" width="100" height="100">
    <form>
      <div class="container">
        <h2>Iniciar Sesión</h2>
        <div class="input-container">
          <input type="text" placeholder="Nombre">
        </div>
        <div class="input-container">
          <input type="text" placeholder="Apellido">
        </div>
        <button mat-raised-button color="primary">Iniciar Sesión</button>
        </div>
    </form>
  </div>
</body>