@use '@angular/material' as mat;

.Contenido {
    padding: 1rem;
    text-align: center;
  
    mat-dialog-content {
      background-color: #fff8e1; 
      padding: 1.5rem;
      border-radius: 8px;
    }
  
      h1 {
        color: #d32f2f; 
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
  
      h3 {
        color: #424242; // Gris oscuro para el texto
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
    
  
    .botones {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
      margin-right: 1rem;
    }
  }

.btnBorrar{
    background-color: rgb(255, 241, 241) !important;
    color: red !important;
    box-shadow: 1;
    margin-right: 1rem;
}       
